        <footer class="d-flex align-items-center p-3 gap-3">
            <div class="flex-grow-1">
                <p class="mb-0 bangers-regular">© 2024 MarvelousComicBlog. 
                <% if (currentLang === 'pl') { %>
                    Wszelkie prawa zastrzeżone.
                <% } else if (currentLang === 'en') { %>
                    All rights reserved.
                <% } %>
                </p>
            </div>
            <div class="align-items-center">
                <p class="mb-2 bangers-regular">
                <% if (currentLang === 'pl') { %>
                    Marvelous Comic Blog w sieci 🕸️
                <% } else if (currentLang === 'en') { %>
                    Marvelous Comic Blog in the Web 🕸️
                <% } %>
                </p>
                <div class="d-flex align-items-center justify-content-between">
                    <a href="https://www.facebook.com/" target="_blank">
                        <img src="/photos/facebook.png" alt="Facebook" width="30" height="30">
                    </a>
                    <a href="https://x.com/?lang=<%= currentLang %>" target="_blank">
                        <img src="/photos/X.webp" alt="X" width="30" height="30">
                    </a>
                    <a href="https://www.instagram.com/" target="_blank">
                        <img src="/photos/instagram.png" alt="Instagram" width="30" height="30">
                    </a>
                    <a href="https://www.tiktok.com/pl-PL/" target="_blank">
                        <img src="/photos/ticktok.png" alt="Ticktok" width="30" height="30">
                    </a>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>

